<html>
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div>
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <h1 style="font-size: 45px; text-align: center;"> Welcome! </h1>
    <h3 style="margin-left: 15px;">Please <a href={{url_for('sign_in')}}> sign in</a> to continue</h3>
    <h5 style="margin-left: 15px;">New user? Create account <a href={{url_for('sign_up')}}>here</a></h5>    
  </body>
</html>
